Repository natelandau/jdfile, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, dev_container, configuration, documentation, python, dependencies

.github/labeler.yml:

---
github_actions:
    - ".github/**"
dev_container:
    - ".devcontainer/**"
configuration:
    - ".*"
    - "*.js"
    - "*.json"
    - "*.toml"
    - "*.yaml"
    - "*.yml"
documentation:
    - "**.md"
    - "docs/**"
    - LICENSE
python:
    - "src/**"
    - "tests/**"
dependencies:
    - "*.lock"

docs(README): install from pypi
  README.md
Labels: documentation

bump(release): v0.4.7 → v1.0.0
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Labels: configuration, documentation, python

ci: create release with changelog
  .github/workflows/create-release.yml
Labels: github_actions

docs(readme): update badges
  README.md
Labels: documentation

fix(stopwords): keep stopwords when combined with numbers
  poetry.lock
  src/jdfile/utils/strings.py
  tests/strings_test.py
Labels: python, dependencies

fix: improve error handling with invalid path to project
  src/jdfile/models/project.py
Labels: python

feat: add `--organize`, `--no-organize` to control filing into a project
  README.md
  src/jdfile/_config/config.py
  src/jdfile/cli.py
  src/jdfile/models/file.py
  tests/cli_test.py
  tests/file_test.py
Labels: documentation, python

bump(release): v1.0.0 → v1.1.0
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Labels: configuration, documentation, python

refactor: improve handling of files without matching folders
  src/jdfile/cli.py
  src/jdfile/models/file.py
  src/jdfile/utils/alerts.py
  src/jdfile/utils/console.py
  src/jdfile/utils/questions.py
  src/jdfile/utils/utilities.py
  tests/conftest.py
  tests/file_test.py
  tests/project_test.py
  tests/utilities_test.py
Labels: python

fix: respect verbosity in file lists
  .pre-commit-config.yaml
  pyproject.toml
  src/jdfile/cli.py
  src/jdfile/models/file.py
  src/jdfile/utils/alerts.py
  src/jdfile/utils/utilities.py
Labels: configuration, python

bump(release): v1.1.0 → v1.1.1
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Labels: configuration, documentation, python

fix: improve instructions in default configuration file
  poetry.lock
  src/jdfile/_config/default_config.toml
Labels: python, dependencies

fix: gracefully handle invalid date exceptions
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
Labels: python

fix: filter files by regex
  .pre-commit-config.yaml
  README.md
  src/jdfile/_config/config.py
  src/jdfile/_config/default_config.toml
  src/jdfile/cli.py
  src/jdfile/utils/utilities.py
  tests/config_test.py
  tests/utilities_test.py
Labels: configuration, documentation, python

fix: log messages no longer bold
  src/jdfile/utils/alerts.py
Labels: python

bump(release): v1.1.1 → v1.1.2
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Labels: configuration, documentation, python

style: pass more linters
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/_config/config.py
  src/jdfile/cli.py
  src/jdfile/utils/strings.py
  src/jdfile/utils/utilities.py
Labels: configuration, python, dependencies

build: add script to update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/update_dependencies.py
Labels: configuration, dependencies

fix: usage alerts use console width
  src/jdfile/utils/alerts.py
  tests/alerts_test.py
Labels: python

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/update_dependencies.py
Labels: configuration, dependencies

fix: improve edge case management when inserting strings
  .gitignore
  poetry.lock
  pyproject.toml
  src/jdfile/utils/enums.py
  src/jdfile/utils/strings.py
  tests/strings_test.py
Labels: configuration, python, dependencies

test: cleanup tests
  poetry.lock
  src/jdfile/models/file.py
  src/jdfile/utils/utilities.py
  tests/alerts_test.py
  tests/conftest.py
  tests/dates_test.py
  tests/file_test.py
  tests/utilities_test.py
Labels: python, dependencies

bump(release): v1.1.2 → v1.1.3
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Labels: configuration, documentation, python

fix: `last month` defaults to day 1
  .pre-commit-config.yaml
  src/jdfile/models/dates.py
  tests/dates_test.py
Labels: configuration, python

build(deps): bump dependencies
  poetry.lock
  pyproject.toml
Labels: configuration, dependencies

bump(release): v1.1.3 → v1.1.4
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Labels: configuration, documentation, python

build(deps): build dependencies
  poetry.lock
  pyproject.toml
Labels: configuration, dependencies

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: configuration, dependencies

build(deps): update dependencies
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: github_actions, configuration, dependencies

build(deps): update dependencies (#45)
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: github_actions, configuration, dependencies

build(deps): update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: configuration, dependencies

fix: `--separator` no longer contains NoneType to avoid error printing help
  src/jdfile/cli.py
  src/jdfile/utils/enums.py
Labels: python

bump(release): v1.1.4 → v1.1.5
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Labels: configuration, documentation, python

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/_config/config.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/alerts.py
Labels: configuration, python, dependencies

build(deps): update dependencies
  poetry.lock
  pyproject.toml
  src/jdfile/models/file.py
  src/jdfile/utils/alerts.py
Labels: configuration, python, dependencies

build(precommit): add typo check
  .pre-commit-config.yaml
  .typos.toml
  README.md
  poetry.lock
  pyproject.toml
  scripts/pre-commit-hook.sh
  src/jdfile/cli.py
  src/jdfile/models/dates.py
Labels: configuration, documentation, python, dependencies

refactor: use inflect package for pluralization
  poetry.lock
  pyproject.toml
  src/jdfile/utils/questions.py
Labels: configuration, python, dependencies

refactor: use inflect package for pluralization (#59)
  poetry.lock
  pyproject.toml
  src/jdfile/utils/questions.py
Labels: configuration, python, dependencies

build(deps): update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: configuration, dependencies

build(deps): update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/utils/questions.py
Labels: configuration, python, dependencies
