Repository natelandau/jdfile, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, dev_container, configuration, documentation, python, dependencies

.github/labeler.yml:

---
github_actions:
    - ".github/**"
dev_container:
    - ".devcontainer/**"
configuration:
    - ".*"
    - "*.js"
    - "*.json"
    - "*.toml"
    - "*.yaml"
    - "*.yml"
documentation:
    - "**.md"
    - "docs/**"
    - LICENSE
python:
    - "src/**"
    - "tests/**"
dependencies:
    - "*.lock"

build: remove development container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .github/workflows/devcontainer-checker.yml
  README.md
Labels: github_actions, dev_container, documentation

ci: update github actions
  .github/actions/setup-poetry/action.yml
  .github/workflows/automated-tests.yml
  .github/workflows/create-release.yml
  .github/workflows/pypi-release.yml
Labels: github_actions

ci: add python 3.12 to testing matrix
  .github/workflows/automated-tests.yml
  pyproject.toml
Labels: github_actions, configuration

build: depreciate development container (#72)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .github/actions/setup-poetry/action.yml
  .github/workflows/automated-tests.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/pypi-release.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/jdfile/utils/questions.py
Labels: github_actions, dev_container, configuration, documentation, python, dependencies

build: replace black with ruff format
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/_config/config.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/nltk.py
  src/jdfile/utils/questions.py
Labels: configuration, python, dependencies

docs: fix typo
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
Labels: configuration, documentation, dependencies

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/__version__.py
  src/jdfile/_config/config.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/alerts.py
  src/jdfile/utils/console.py
  src/jdfile/utils/nltk.py
  src/jdfile/utils/strings.py
  src/jdfile/utils/utilities.py
  tests/alerts_test.py
  tests/dates_test.py
  tests/strings_test.py
  tests/utilities_test.py
Labels: configuration, python, dependencies
