Repository natelandau/jdfile, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, dev_container, jdfile

ci: fix pypi publish
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .pre-commit-config.yaml
  uv.lock
Labels: github_actions

ci: fix pypi publish (#94)
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .pre-commit-config.yaml
  uv.lock
Labels: github_actions

feat: use XDG spec for configuration files – default to ~/.config/jdfile/config.toml
  .github/actions/setup_python_env/action.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
  src/jdfile/__init__.py
  src/jdfile/cli/__init__.py
  src/jdfile/cli/helpers.py
  src/jdfile/config.py
  src/jdfile/constants.py
  src/jdfile/default_config.toml
  src/jdfile/defaults.toml
  src/jdfile/jdfile.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/__init__.py
  src/jdfile/utils/config.py
  src/jdfile/utils/console.py
  src/jdfile/utils/logging.py
  src/jdfile/utils/nltk.py
  src/jdfile/views/tables.py
  testfile.txt
  tests/conftest.py
  tests/file_model_test.py
  tests/integration_test.py
  tests/strings_test.py
  uv.lock
Labels: github_actions, jdfile

feat: use XDG spec for configuration files (#95)
  .github/actions/setup_python_env/action.yml
  .github/workflows/create-release.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
  src/jdfile/__init__.py
  src/jdfile/cli/__init__.py
  src/jdfile/cli/helpers.py
  src/jdfile/config.py
  src/jdfile/constants.py
  src/jdfile/default_config.toml
  src/jdfile/defaults.toml
  src/jdfile/jdfile.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/__init__.py
  src/jdfile/utils/config.py
  src/jdfile/utils/console.py
  src/jdfile/utils/logging.py
  src/jdfile/utils/nltk.py
  src/jdfile/views/tables.py
  testfile.txt
  tests/conftest.py
  tests/file_model_test.py
  tests/integration_test.py
  tests/strings_test.py
  uv.lock
Labels: github_actions, jdfile

bump(release): v1.1.5 → v2.0.0
  CHANGELOG.md
  pyproject.toml
  src/jdfile/constants.py
Labels: jdfile

.github/labeler.yml:

---
github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"
dev_container:
  - changed-files:
      - any-glob-to-any-file: ".devcontainer/**"
jdfile:
  - changed-files:
      - any-glob-to-any-file: "src/**"
